*{
  padding:0;
  margin:0;
}
.header {
  display: flex;
  justify-content:space-around;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  justify-content: center;
  height:80px;
  top: 0;
}

.nav{
  list-style-type: none;
  display: flex;
  column-gap: 10px;
  font-size:25px;
  margin-top:20px;
  /* justify-content: right; */
  margin-left:50px;
  top: 0;
}
.header .nav a{
  padding:10px;
  color:black;
  padding-bottom:5px;
}
.header .nav a:hover{
  color:orange;
}

 .himage{
  
  display: flex;
  position: relative;
  top: 70%;
  right:15%;
  transform: translate(-50%,-50%);
  margin-left:70px;
} 

h1{
  padding-left:5px;
  font-family:"Poppins";
}
.h1image a{
  color:orange;
}
.Home{
  background:url("Images/banner-bg.webp");
  background-size: 100%;
  color:black;
  text-align:center;
  height:300px;
}

.main-button button{
  color:black;
  margin-top:20px;
  border:1px solid black;
  padding:10px;
  margin-left:1200px;
  position:relative;
  right:600px;

}
.main-button :hover{
  background-color:grey;
}
.Block1{
  background-color:rgb(242, 230, 230);
  height:350px;

}
.Block_middle{
  height:200px;
  width:1350px;
  border:2px solid black;
  margin-left:100px;
  text-align:center;
  background-color:white;
  
  
}
.middle1{
  height:75px;
  width:75px;
  margin-left:650px;
  margin-top:20px;
  background-image: url(Images/pic-1.png);
  border-radius:50%;
  
}
.middle2{
  margin-top:20px;
}
.block2{
  color:black;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: space-around;
  text-align:center;
}
.block2 h1{
  text-align:center;
}
.divs .divv1{
  text-align:center;
  font-size:50px;
}
.divs .div1{
  margin-left:30px;
}
.footer{
    
  font-size:10px;
  margin-top:80px;
  margin-bottom: 60px;
}
.main {
  width: 100%;
  align-items: center;
  text-align: center;
  background-color:rgb(242, 230, 230);
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
}
.cards-box img {
  width: 100%;
}
a{
  text-decoration:none;
}
.card-text #first {
  font-size: 1.3rem;
  font-weight: 400;
  color: purple;
}
.card-text #second {
  font-size: 0.8rem;
}
.card-text .button {
  border: 2px solid purple;
  padding: 10px;
  margin-left: 0;
  border-radius: 10px;
}
.divs{
  display:flex;
  justify-content:space-around;
  padding-right:100px;
  padding-left:100px;
}
.div1{
  color:black;
  padding-right:20px;
}
.div1 h1{
  padding:10px;
  font-size:25px;
  color:blueviolet;
}
.div1 p{
  font-size:15px;
  margin-top:20px;
}

.div2{
  color:black;
  padding-right:20px;
}
.div2 h3{
  padding:10px;
  font-size:20px;
}
.div2 h1{
  font-size:25px;
  color:blueviolet;
}
.div3{
  color:black;
  padding-right:20px;
 
}
.div3 h3{
  padding:10px;
  font-size:20px;
  color:black;
}
.div3 h1{
  font-size:25px;
  color:blueviolet;
}
.button-div :hover{
  background-color:bisque;
}